<% content_for :head do %>
  <%= stylesheet_link_tag    "/timemachine-viewer/css/snaplapse.css",
                             "/timemachine-viewer/css/jquery-ui/smoothness/jquery-ui.custom.css",
                             "/timemachine-viewer/css/player.css",
                             "zoomify-bundle.css"
  %>

  <%= javascript_include_tag "/timemachine-viewer/js/jquery/jquery.min.js",
                             "/timemachine-viewer/js/jquery/jquery-ui.custom.min.js",
                             "/timemachine-viewer/js/jquery/plugins/mouse/jquery.mousewheel.min.js",
                             "/timemachine-viewer/js/org/gigapan/util.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/videoset.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/parabolicMotion.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/timelapse.js",
                             "/timemachine-viewer/js/Math.uuid.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/snaplapse.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/snaplapseViewer.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/defaultUI.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/urlEncoder.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/crossdomain_api.js",
                             "/timemachine-viewer/template_includes.js",
                             "http://timemachine1.gc.cs.cmu.edu/timemachines/breathecam/timemachines/#{@location_id}/#{@location_id}.js",
                             "zoomify-bundle.js"  %>

  <style type="text/css">
    #datepicker { font-size: 10px;}
    #datepicker .ui-state-default { background: white; }
    #datepicker .date-highlight a { background: rgb(240, 240, 240); }
    #datepicker .ui-state-active { border: 1px solid #000000; }
    .ui-datepicker-today a.ui-state-highlight {
      border-color: #d3d3d3;
      color: #555555;
    }
  </style>

  <script>
    jQuery.support.cors = true;
    var initialDataset;
    var zoomify;

    function selectTimelapseFeed() {
      $("#image_feed").css("visibility", "hidden");
      $("#stitched_image_wrapper").css("visibility", "hidden");
      $("#stitched_image").css("visibility", "hidden");
      $("#timelapse_feed").show();
      $("#show_timelapse_feed .feed_overlay").hide();
      $("#show_image_feed .feed_overlay").show();
    }

    function selectImageFeed() {
      $("#timelapse_feed").hide();
      $("#image_feed").css("visibility", "visible");
      $("#stitched_image_wrapper").css("visibility", "visible");
      $("#stitched_image").css("visibility", "visible");
      $("#show_image_feed .feed_overlay").hide();
      $("#show_timelapse_feed .feed_overlay").show();
    }

    function tm_init() {
      selectTimelapseFeed();

      initialDataset = cached_breathecam.latest.path;
      var startingDate = cached_breathecam.latest.date;

      var hash = window.location.hash.slice(1);
      var hashVars = unpackVars(hash);

      if (hashVars && hashVars.d) {
        startingDate = hashVars.d;
        initialDataset = initialDataset.replace(/\d\d\d\d-\d\d-\d\d/, hashVars.d);
      }

      var viewerOptions = {
        url: initialDataset,
        disableTourLooping: true,
        mediaType: ".mp4",
        showFullScreenBtn: false,
        showLogoOnDefaultUI: false,
        datasetType: "breathecam",
        onTimeMachinePlayerReady: function(viewerDivId) {
          if (!hashVars) {
            var numFrames = timelapse.getNumFrames();
            // 12 fps * 5 seconds = 60 frames
            var fiveSecondsFromEnd = numFrames - 60;
            timelapse.seekToFrame(fiveSecondsFromEnd);
          }
          showContent();
        }
      };

      timelapse = new org.gigapan.timelapse.Timelapse("player1", viewerOptions);

      var dateArray = startingDate.split("-");
      $("#datepicker").datepicker({
        defaultDate : new Date(dateArray[0], dateArray[1] - 1, dateArray[2]),
        minDate : new Date(2014, 0),
        onSelect : selectDay,
        beforeShowDay : highlightDays
      });
      $("#datepicker").append("<p class='date_msg'>Click a date to go to that timelapse.</p>");

      $("#show_timelapse_feed").on("click", function() {
        selectTimelapseFeed();
      });
    }

    function img_init() {
      zoomify = new org.gigapan.zoomify({
        onImageReady: function(imgId) {
          showContent();
          if (!$("#timelapse_feed").is(':visible')) {
            selectImageFeed();
          }
        }
      });

      $("#stitched_image").load(function() {
        zoomify.makeImageZoomable("stitched_image");
      });

      $("#stitched_image").bind("mouseover mouseup", function() {
        $(this).removeClass("openHand closedHand").addClass("openHand");
      }).bind("mousedown", function() {
        $(this).removeClass("openHand closedHand").addClass("closedHand");
      });

      $("#show_image_feed").on("click", function() {
        selectImageFeed();
      });
    }

    function showContent() {
      $("#loading").hide();
      $("#content").css("visibility", "visible");
    }

    function unpackVars(str) {
      var keyvals = str.split('&');
      var vars = {};

      if (keyvals.length == 1 && keyvals[0] === "") return null;

      for (var i = 0; i < keyvals.length; i++) {
        var keyval = keyvals[i].split('=');
        vars[keyval[0]] = keyval[1];
      }
      return vars;
    }

    function highlightDays(date) {
      date = $.datepicker.formatDate('yy-mm-dd', date);
      if (cached_breathecam.datasets[date])
        return [true, 'date-highlight'];
      else
        return [false, ''];
    }

    function selectDay(dateText, dateElem) {
      var date = $.datepicker.formatDate('yy-mm-dd', new Date(dateText));
      var path = cached_breathecam.datasets[date];
      if (typeof(timelapse) !== "undefined" && timelapse && path)
        timelapse.loadTimelapse(path, null, null, true);
    }

    $(function() {
      var timelapseSupported = org.gigapan.Util.browserSupported();
      var stitchedImage = "<%= @stitched_image %>";
      var error_text = "";
      if ((!timelapseSupported || typeof (cached_breathecam) === "undefined") && stitchedImage === "") {
        // Nothing is up. Inform the user
        $("#stitched_image_wrapper").css("visibility", "hidden");
        $("#loading").html("<div class='error_msg2'>Content currently unavailable. Please try again later.</div>");
      }  else if (timelapseSupported && stitchedImage === "") {
        var $image_feed_button = $("#show_image_feed");
        error_text = "Temporarily unavailable. Please try again later.";
        $image_feed_button.html($image_feed_button.html() + "<p class='error_msg'>"+ error_text + "</p>");
        $image_feed_button.off();
        $("#show_image_feed .feed_overlay").addClass("disabled");
        tm_init();
      } else if (!timelapseSupported || typeof (cached_breathecam) === "undefined") {
        var $timelapse_feed_button = $("#show_timelapse_feed");
        if (typeof (cached_breathecam) === "undefined")
          error_text = "Temporarily unavailable. Please try again later.";
        else
          error_text = "Your browser or device is not compatible.";
        $timelapse_feed_button.html($timelapse_feed_button.html() + "<p class='error_msg'>"+ error_text + "</p>");
        $timelapse_feed_button.off();
        $("#show_timelapse_feed .feed_overlay").addClass("disabled");
        img_init();
      } else {
        tm_init();
        img_init();
      }
      $("body").on("selectstart", function(e) { e.preventDefault(); });
    });
  </script>
<% end %>

<div id="body-index2">
  <div id="loading">
    <img src="<%= asset_path('loading.gif') %>">
  </div>
  <div id="content">
    <div id="timelapse_feed">
      <div id="player1" style="position: absolute;"></div>
      <div id="datepicker"></div>
    </div>
    <div id="image_feed">
      <div id="stitched_image_wrapper" class="image-zoom-wrapper">
        <div id="zoom-in" title="Zoom in"><p>+</p></div>
        <div id="zoom-out" title="Zoom out"><p>_</p></div>
        <img id="stitched_image" class="image-zoom" src="<%= @stitched_image %>">
        <span id="image_feed_timestamp"><%= @pretty_time %></span>
      </div>
    </div>
    <div id="show_timelapse_feed" style='background-image: url(<%= asset_path("#{@location_id}_timelapse.png") %>);'>
      <div class="feed_msg">
        <div>Timelapse</div>
        <p class="feed_msg_txt">(Real-time up to the last 10 min)</p>
      </div>
      <div class="feed_overlay"></div>
    </div>
    <div id="show_image_feed" style='background-image: url(<%= asset_path("#{@location_id}_live.png") %>);'>
      <div class="feed_msg">
        <div>Live</div>
        <p class="feed_msg_txt">(Real-time up to the last min)</p>
      </div>
      <div class="feed_overlay"></div>
    </div>
  </div>
</div>
