<% content_for :title, "E-Cam" %>

<% content_for :css do %>
  <%= stylesheet_link_tag    "/timemachine-viewer/css/jquery-ui/smoothness/jquery-ui.custom.css",
                             "/timemachine-viewer/css/defaultUI.css",
                             "zoomify-bundle.css"
  %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "/timemachine-viewer/js/jquery/jquery.min.js",
                             "/timemachine-viewer/js/jquery/jquery-ui.custom.min.js",
                             "/timemachine-viewer/js/jquery/plugins/mouse/jquery.mousewheel.min.js",
                             "/timemachine-viewer/js/org/gigapan/util.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/videoset.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/parabolicMotion.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/timelapse.js",
                             "/timemachine-viewer/js/Math.uuid.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/snaplapse.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/snaplapseViewer.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/defaultUI.js",
                             "/timemachine-viewer/js/org/gigapan/timelapse/crossdomain_api.js",
                             "/timemachine-viewer/template_includes.js",
                             "/extras/jquery.xdomainrequest.min.js",
                             "#{@root_url}/timemachines/#{@location_id}/#{@location_id}.js",
                             "zoomify-bundle.js"  %>

  <style type="text/css">
    #timeMachine {
      position: fixed;
      left: 0px;
      right: 216px;
      top: 0px;
      width: auto;
      height: 100%;
      z-index: 5;
    }
    #datepicker {
      right: 0px !important;
    }
    #datepicker .ui-datepicker-next, #datepicker .ui-datepicker-prev {
      cursor: pointer;
    }
    #datepicker .ui-datepicker-header {
      color: white;
      background: rgb(150, 150, 150);
      border: 0px solid rgb(204, 204, 204);
      border-radius: 3px !important;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    #datepicker .ui-datepicker {
      font-size: 12px;
      height: 190px;
      border-radius: 0;
      color: #555555;
      background: rgb(248, 248, 248);
      border: 1px solid rgb(150, 150, 150);
    }
    #datepicker .ui-state-default {
      background: rgb(150, 150, 150);
      border-radius: 3px !important;
      color: white;
      box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    #datepicker .ui-state-hover {
      background: rgb(100, 100, 100) !important;
    }
    #datepicker .date-highlight a {
      color: white;
      background: rgb(150, 150, 150);
      border: 1px solid rgb(204, 204, 204);
    }
    #datepicker .ui-state-active {
      border: 1px solid rgb(204, 204, 204) !important;
      background: #2794DD !important;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    #datepicker .ui-datepicker-header .ui-icon {
      background-image: url(<%= asset_path('ui-icons_custom_256x240.png') %>);
    }
    .image_feed_embed {
      right: 0px;
    }
    .image-zoom-wrapper {
      margin-right: 0px;
    }
  </style>

  <script>
    jQuery.support.cors = true;
    var initialDataset;
    var zoomify;
    var locationDivId;

    function selectTimelapseFeed() {
      $("#image_feed").css("visibility", "hidden");
      $("#stitched_image_wrapper").css("visibility", "hidden");
      $("#stitched_image").css("visibility", "hidden");
      $("#timelapse_feed").show();
    }

    function selectImageFeed() {
      $("#timelapse_feed").hide();
      $("#image_feed").css("visibility", "visible");
      $("#stitched_image_wrapper").css("visibility", "visible");
      $("#stitched_image").css("visibilriity", "visible");
    }

    function tm_init() {
      selectTimelapseFeed();

      initialDataset = cached_breathecam.latest.path;
      var startingDate = cached_breathecam.latest.date;

      var hash = window.location.hash.slice(1);
      var hashVars = unpackVars(hash);

      if (hashVars && hashVars.d) {
        startingDate = hashVars.d;
        initialDataset = initialDataset.replace(/\d\d\d\d-\d\d-\d\d/, hashVars.d);
      }

      var viewerOptions = {
        url: initialDataset,
        disableTourLooping: true,
        mediaType: ".mp4",
        showFullScreenBtn: false,
        showLogoOnDefaultUI: false,
        datasetType: "breathecam",
        viewportGeometry: {
          max: true
        },
        onTimeMachinePlayerReady: function(viewerDivId) {
          if (!hashVars) {
            var numFrames = timelapse.getNumFrames();
            // 12 fps * 5 seconds = 60 frames
            var fiveSecondsFromEnd = numFrames - 60;
            timelapse.seekToFrame(fiveSecondsFromEnd);
          }
          showContent();
        }
      };

      timelapse = new org.gigapan.timelapse.Timelapse("timeMachine", viewerOptions);

      var dateArray = startingDate.split("-");
      $("#datepicker").datepicker({
        defaultDate : new Date(dateArray[0], dateArray[1] - 1, dateArray[2]),
        minDate : new Date(2014, 0),
        onSelect : selectDay,
        beforeShowDay : highlightDays
      });

      /*$(".location_thumbnail_container").on("click", function() {
        var newLocation = $(this).attr('href');
        var shareView = timelapse.getShareView();
        var shareViewComponents = shareView.split("&");
        var time = shareViewComponents[1];
        var day = shareViewComponents[2];
        $(this).attr('href', newLocation + "#" + time + "&" + day);
      });*/

    }

    function img_init() {
      zoomify = new org.gigapan.zoomify({
        onImageReady: function(imgId) {
          showContent();
          if (!$("#timelapse_feed").is(':visible')) {
            selectImageFeed();
          }
        }
      });

      $("#stitched_image").load(function() {
        zoomify.makeImageZoomable("stitched_image");
      });

      $("#stitched_image").bind("mouseover mouseup", function() {
        $(this).removeClass("openHand closedHand").addClass("openHand");
      }).bind("mousedown", function() {
        $(this).removeClass("openHand closedHand").addClass("closedHand");
      });
    }

    function showContent() {
      $("#loading").hide();
      $("#content").css("visibility", "visible");
    }

    function unpackVars(str) {
      var keyvals = str.split('&');
      var vars = {};

      if (keyvals.length == 1 && keyvals[0] === "") return null;

      for (var i = 0; i < keyvals.length; i++) {
        var keyval = keyvals[i].split('=');
        vars[keyval[0]] = keyval[1];
      }
      return vars;
    }

    function highlightDays(date) {
      date = $.datepicker.formatDate('yy-mm-dd', date);
      if (cached_breathecam.datasets[date])
        return [true, 'date-highlight'];
      else
        return [false, ''];
    }

    function selectDay(dateText, dateElem) {
      var date = $.datepicker.formatDate('yy-mm-dd', new Date(dateText));
      var path = cached_breathecam.datasets[date];
      if (typeof(timelapse) !== "undefined" && timelapse && path)
        timelapse.loadTimelapse(path, null, null, true);
    }

    $(function() {
      var timelapseSupported = org.gigapan.Util.browserSupported();
      var stitchedImage = "<%= @stitched_image %>";
      var error_text = "";
      locationDivId = "<%= @location_id %>" + "_overlay";

      if ((!timelapseSupported || typeof (cached_breathecam) === "undefined") && stitchedImage === "") {
        // Nothing is up. Inform the user
        $("#stitched_image_wrapper").css("visibility", "hidden");
        $("#loading").html("<div class='error_msg2'>Content currently unavailable. Please try again later.</div>");
      } else if (timelapseSupported && stitchedImage === "") {
        tm_init();
      } else if (!timelapseSupported || typeof (cached_breathecam) === "undefined") {
        img_init();
      } else {
        tm_init();
        //img_init();
      }

      $("body").on("selectstart", function(e) { e.preventDefault(); });
    });
  </script>
<% end %>

<div>
  <div id="loading">
    <img src="<%= asset_path('loading.gif') %>">
  </div>
  <div>
    <div id="timelapse_feed" class="timelapse_feed_embed">
      <div id="timeMachine"></div>
      <div id="datepicker" class="datepicker_embed"></div>
    </div>
    <div id="image_feed" class="image_feed_embed">
      <div id="stitched_image_wrapper" class="image-zoom-wrapper image-zoom-wrapper-embed">
        <div id="zoom-in" title="Zoom in"><p>+</p></div>
        <div id="zoom-out" title="Zoom out"><p>_</p></div>
        <img id="stitched_image" class="image-zoom" src="<%= @stitched_image %>">
        <span id="image_feed_timestamp"><%= @pretty_time %></span>
      </div>
    </div>
  </div>
</div>
