<!DOCTYPE html>
<html>
  <head>
    <title>E-Cam Status Page</title>
    <style type="text/css">
    th {
      text-decoration: underline;
      text-align: left;
    }
    table {
      width: 100%;
    }
    </style>
  <head>
  <body>
    <table>
      <tr>
        <th>Camera ID</th>
        <th>Images</th>
        <th>Timelapse</th>
        <th>Last Upload Timestamp</th>
        <th>Last Uploaded Image Timestamp</th>
        <th>Last Processed Image Timestamp</th>
      </tr>
      <% @camera_statuses.each_with_index do |camera, i| %>
        <tr>
          <td>
            <%= camera.camera_name %>
          </td>
          <td>
            <%= link_to("images", "http://timemachine1.gc.cs.cmu.edu/timemachine_uploads/#{camera.camera_name}/050-original-images/", :target => "_blank") %>
          </td>
          <td>
            <%= link_to("timelapse", "/embeds/#{camera.camera_name}", :target => "_blank") %>
          </td>
          <td>
            <%= camera.last_upload_time %>
          </td>
          <td>
            <%= camera.last_image_time %>
          </td>
          <td>
            <%= @last_processed_times[i]%>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
