<!DOCTYPE html>
<html>
<head>
  <title>Breathe Cam</title>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="header-titles">
        <div class="cmu-font">
          <a href="http://www.cmu.edu/">
            <div id="cmu-logo-detail-page_disabled"></div>
          </a>
        </div>
        <div class="create-lab-font">
          <a href="/">
            <div class="title-text">CREATE Lab</div>
            <div class="subtitle-text">Breathecam</div>
          </a>
        </div>
      </div>
      <p id="site-description">
      </p>
    </div>
    <%= yield %>
    <div id="footer">
      <a href="http://www.ri.cmu.edu/">The Robotics Institute</a>&nbsp;|
      <a href="http://www.cmu.edu">Carnegie Mellon University</a>&nbsp;|
      <a href="mailto:info@cmucreatelab.org">info@cmucreatelab.org</a>
    </div>
  </div>
</body>
</html>
