<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <title><%= yield :title %></title>
  <% else %>
    <title>Breathe Cam</title>
  <% end %>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
